<!doctype html>
<<html style="" class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths desktop portrait">
<head>
<meta charset="utf-8">
  <title>{{ page.title }} | {{ site.title }}</title>   
  {% include header.html %}
</head>
<body>
  {% include navigation.html %}
  <br>
  <br> 
  <br>
  <br> 
  <br>
  <br> 
  <div class="container">  
    <h3>Default Wrapper</h3> 
    
    <br> 
      {{ content }}

    
    <br> Default Wrapper
  </div>
  <div>  
    {% include footer.html %}
  </div>   
</body>
</html>
